<div class="px-5 lg:px-16 h-[100vh]">
    <div class="max-w-7xl px-4 sm:px-6 lg:px-8 pb-10">
        <div class="flex justify-between pb-6 pt-24">
            <h1 class="text-3xl font-bold">Products</h1>

            <div class="flex items-center">
                <div>
                    <button class="bg-black text-white px-4 py-2 rounded" mat-button [matMenuTriggerFor]="sortMenu">
                        Sort
                    </button>
                    <mat-menu #sortMenu="matMenu" class="bg-black text-white">
                        <button mat-menu-item class="text-white hover:bg-gray-700">Price: High to Low</button>
                        <button mat-menu-item class="text-white hover:bg-gray-700">Price: Low to High</button>
                        <button mat-menu-item class="text-white hover:bg-gray-700">Relevance</button>
                    </mat-menu>   
                </div>
            </div>
        </div>
    </div>
</div>
