.relative {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%; /* Ensure each item takes up 100% width */
    flex-shrink: 0;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  